/* Logo- Raleway w:700 s:26 hl:30.52 coor:#2196F3 #000000
          Oleo Script w:400 s:26 lh:35.96 color:#FFFFFF
Основной шрифт текста - Roboto w:400 s:14 color:#757575 
H1 - Roboto w:900 s:44px lh:60px color:#ffffff
H2 - Roboto w700 s:36 lh:42.19 color:#212121
H3 - Roboto w700 s14 color:#212121
active color - 
*/

:root {
  --main-text-color: #757575;
  --main-text-second-color: #212121;
  --main-bg-color: #ffffff;
  --main-sec-bg: #2f303a;
  --main-trhid-bg: #f5f4fa;
  --main-logo-first-color: #2196f3;
  --main-logo-color: #000000;
  --main-logo-color-footer: #ffffff;
  --main-sec-color: #ffffff;
  --main-footer-color: #ffffff;
  --main-active-color: #2196f3;
  --main-active-bg: #ffffff;
  --active-bt-color: #ffffff;
  --active-bt-bg: #2196f3;
  --active-bt-forma-bg: #188ce8;
  --header-border-color: #ececec;
  --footer-sec-color: rgba(255, 255, 255, 0.6);
  --portfolio-border: #eeeeee;
  --background-hero: #c4c4c4;
  --background-whatis: rgba(47, 48, 58, 0.8);
  --border-color-clients: #afb1b8;
  --border-color-form: rgba(33, 33, 33, 0.2);
  /* --color1: var(--border-color-clients); */
  /* --color-black: #000000; */
  --box-color: rgba(33, 150, 243, 0.9);
  --form-text-placeholder: rgba(117, 117, 117, 0.5);
  --footer-form-border: rgba(255, 255, 255, 0.3);
  --footer-form-color: rgba(255, 255, 255, 0.6);
  /* --change-color: color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --change-bg: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --change-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2); 1); */
  --animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--main-bg-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.accent {
  color: var(--main-active-color);
}

/* .tittle {

} */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding-top {
  padding-top: 0;
}
.no-padding-bot {
  padding-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}
.no-margin-bot {
  margin-bottom: 0;
}

.tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-text-second-color);
  text-align: center;
}
.vidsually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);

  overflow: hidden;
  /* visibility: hidden; */
}

.button {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  line-height: 1.63;
  font-family: inherit;
}

.hero-button,
.portfolio-button.current {
  /* display: block;   */
  color: var(--active-bt-color);
  background-color: var(--main-active-color);
  border: none;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  /* outline: 1px solid red; */
}

.social-item {
  content: '';
}
.social-link {
  display: flex;

  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: transparent;
  fill: var(--border-color-clients);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;

  transition: background-color var(--animations), fill var(--animations);
}
/* .social-link:hover,
.footer .social-link {
  outline: 1px solid red;
} */

.social-link:hover,
.social-link:focus {
  background-color: var(--main-active-color);
  fill: var(--main-sec-color);
}
.footer .social-link {
  /* --color1: var(--main-sec-color); */
  fill: var(--main-sec-color);
}

/*         MAIN        */
/* Header */
.header-container {
  display: flex;
  align-items: center;
  align-self: center;
}
/* LOGO */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--main-logo-color);
  text-decoration: none;
}
.logo-first-color {
  color: var(--main-logo-first-color);
}

.header {
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--header-border-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-second-color);
}
.site-nav,
.site-nav-list {
  display: flex;
  align-items: center;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-list {
  margin-left: 93px;
}
.site-nav-item {
  position: relative;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animations);
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-nav-link.current {
  color: var(--main-active-color);
}

.site-nav-link.current::after {
  display: flex;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;

  height: 4px;
  width: 100%;
  background-color: var(--main-active-color);
  border-radius: 2px;
}
/* nav contact  */
.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  color: var(--main-text-color);
  transition: color var(--animations), fill var(--animations);
}
.icon-header {
  margin-right: 10px;
}

.contact-link:hover,
.contact-link:focus {
  fill: var(--main-active-color);
  color: var(--main-active-color);
}

/* hero */
.hero {
  padding: 200px 0;
  /* display: block; */
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-sec-bg);

  /* outline: 1px solid red; */
}

.hero-tittle,
.hero-button {
  color: var(--main-sec-color);
  letter-spacing: 0.06em;
}

.hero-tittle {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.hero-button {
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  transition: background-color var(--animations), box-shadow var(--animations);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-bt-forma-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animations);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  /* display: block; */
  /* z-index: 10000; */
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 528px;
  /* height: 581px; */

  text-align: left;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bg-color);
  border-radius: 4px;
  transition: transform var(--animations);
}
.form-field {
  /* display: block; */
  /* height: 100%; */

  /* display: flex;
  flex-direction: column; */
  /* display: block; */

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

.form-tittle {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-second-color);
}
.modal .form {
  /* display: flex; */
  /* flex-direction: column; */
}
.form-field {
  /* display: inline-block; */
  position: relative;
  /* display: flex; */
  display: block;
  /* flex-direction: column; */

  /* width: 100%; */

  /* outline: 1px solid tomato; */
}
.form-feedback .form-field:not(.form-feedback .form-field.checkbox, .form-feedback .form-field.textarea) {
  margin-bottom: 10px;
}
.form-field.textarea {
  margin-bottom: 20px;
}

.form-input,
.form-text-area {
  width: 100%;
}

.form-input {
  /* width: 100%; */
  /* align-items: center;
  justify-content: center; */

  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 16px;
}

.form-text-area {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
}
.form-field .icon-input {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--main-text-second-color);
  transition: fill var(--animations);
}

.form-input,
.form-text-area {
  /* display: block; */
  /* width: auto; */
  border: 1px solid var(--border-color-form);
  /* border: 1px solid red; */
  /* padding-left: 42px; */

  /* padding-right: 16px; */
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border var(--animations);
}

.form-input:focus,
.form-text-area:focus {
  /* border-style: solid; */
  border: 1px solid var(--main-active-color);

  outline: none;
}
.form-input:focus + .icon-input {
  fill: var(--main-active-color);
}
.form-input[type='checkbox'] {
  /* margin: 0;
  padding: 0;
  width: 16px;
  height: 15px; */
  /* display: unset; */
}

.form-text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--form-text-placeholder);
}
.policy-checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);

  overflow: hidden;
}
.form .form-field.checkbox {
  margin-bottom: 0;
}
.form-field.checkbox {
  display: flex;
  align-items: center;
  margin-left: 14px;
  /* justify-content: center; */
  font-size: 14px;
  line-height: 24px;
  /* outline: 1px solid red; */
}
.icon-check {
  background-size: contain;
  background-origin: border-box;
  margin-right: 7px;

  fill: white;
  border: 2px solid var(--main-text-second-color);
  border-radius: 2px;
  transition: border var(--animations), background-color var(--animations), border-color var(--animations);
}
.policy-checkbox:checked + .icon-check {
  border: 1px solid var(--main-active-color);
  border-radius: 2px;
  background-color: var(--main-active-color);
}
.policy-link {
  color: var(--main-active-color);
}
.form-feedback .hero-button {
  margin-left: auto;
  margin-right: auto;
  display: block;

  /* background-color: #red; */
}
.button-close {
  /* display: flex; */
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  background-color: initial;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--animations);
}
.button-close:hover,
.button-close:focus {
  fill: var(--main-active-color);
}

/* benefits */

.benefits-icon-div {
  display: flex;
  width: 270px;
  height: 120px;

  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--main-trhid-bg);
  border-radius: 4px;
}
.icon-item {
  display: block;
  /* justify-content: center; */
}

.benefits-list {
  display: flex;
}
.benefits-item {
  width: 270px;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-text {
  margin-top: 10px;
  line-height: 1.71;
}
.benefits-text,
.benefits-list-tittle {
  font-size: 14px;
}
.benefits-list-tittle {
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

/* Чем мы занимаемся */
.whatis-list {
  display: flex;
}
.whatis-item:not(:last-child) {
  margin-right: 30px;
}
.whatis-tittle {
  margin-bottom: 50px;
}

.whatis-img {
  /* display: block; */
  position: relative;
}
.whatis-box {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;

  align-items: center;
  justify-content: center;

  background-color: var(--background-whatis);
}
.whatis-img-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

/* Наша комманда */
.team {
  background-color: var(--main-trhid-bg);
}
.team-list {
  display: flex;
}
.team-item {
  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-tittle {
  margin-bottom: 50px;
}
.team-text {
  margin-top: 10px;
  /* margin-bottom: 30px; */
}

.team-list-tittle,
.team-text {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-list-tittle {
  /* margin-top: 30px; */
  font-weight: 500;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .social-list {
  margin-top: 16px;
  /* margin-left: auto;
  margin-right: auto; */
}

/* Clients  */
.clients-list {
  display: flex;

  margin-top: 50px;
  gap: 30px;
  /* justify-content: space-between; */
}

.clients-link {
  display: flex;
  /* content: ''; */
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color-clients);
  border-radius: 4px;
  fill: var(--border-color-clients);
  transition: fill var(--animations), border-color var(--animations);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--main-active-color);
  border-color: var(--main-active-color);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--main-sec-bg);
  color: var(--main-sec-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.logo-footer {
  color: var(--main-logo-color-footer);
}

.footer-address {
  color: var(--footer-sec-color);
  font-style: normal;
  margin-top: 20px;
}

.footer-address-list:not(:first-child) {
  margin-top: 9px;
}

.footer-address-map {
  color: var(--main-sec-color);
}
.footer-address-list .link {
  transition: color var(--animations);
}
.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--main-active-color);
}

.footer-item {
  display: flex;
  align-items: baseline;
  /* align-items: center; */
}
.footer-social {
  margin-left: 70px;
}
.footer .social-list {
  margin-top: 20px;
  /* background: rgba(255, 255, 255, 0.1); */
}
.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.form-subscribe {
  display: flex;
  margin-left: 93px;
  align-items: flex-end;
  justify-content: flex-start;
}
.form-subscribe .form-field {
  width: min-content;
}
.form-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-sec-color);
}
.form-subscribe input {
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border-color: var(--footer-form-border);
  color: var(--main-sec-color);
  font-size: 16px;
  line-height: 1.25;
}
.form-subscribe input::placeholder {
  color: var(--footer-form-color);
  font-size: 16px;
  line-height: 1.25;
}

.form-subscribe .button {
  display: flex;
  margin-top: 0;
  margin-left: 12px;
  align-items: center;
}
.subscribe-icon {
  margin-left: 10px;
  fill: var(--main-sec-color);
}

/* Portfolio  */
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-filter .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-link {
  display: block;
  transition: box-shadow var(--animations);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  opacity: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--main-sec-color);
  background-color: var(--box-color);

  transform: translatey(100%);
  transition: transform var(--animations), opacity var(--animations);
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translatey(0);
  opacity: 1;
}

.portfolio-list-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio-text {
  margin-top: 4px;
  color: var(--main-text-color);
  line-height: 1.88;
}

.portfofilo-content {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
}

.portfolio-button {
  color: var(--main-text-second-color);
  background: var(--main-trhid-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;

  transition: color var(--animations), background var(--animations), box-shadow var(--animations);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--active-bt-color);
  background-color: var(--active-bt-bg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
